!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title DOC Handler
    %link{:href => "dist/app.css", :rel => "stylesheet"}/
  %body.nhm
    %script{:src => "node_modules/jquery/dist/jquery.js"}
    %script{:src => "node_modules/what-input/dist/what-input.js"}
    .homepage
      %header
        .zona1.py15
          %section.grid-container
            .grid-x.grid-padding-x
              .block1.large-3.cell.logo
                %span.is DOC
                %span.uslugi &nbspHandler
              .block2.large-9.cell.lozung
                В разработке
        .zona2
          .baner
            %img{:src => "img/banner.png"}
        .zona3
          %section.grid-container
            .grid-x.grid-padding-x
              .block4.large-12.cell
                %ul.menu
                  %li
                    %a{:href => "javascript:void(0)"} Главная
                  %li
                    %a{:href => "javascript:void(0)"} Новости
                  %li
                    %a{:href => "javascript:void(0)"} Портфолио
                  %li
                    %a{:href => "javascript:void(0)"} Контакты
      .zona4
        %section.grid-container
          .block5
            .grid-x.grid-padding-x
              .large-12.cell
                %h1 Что такое информационная система "Услуги"?
            .grid-x.grid-padding-x
              .large-12.cell
                %ul.accordion{"data-accordion" => ""}
                  %li.accordion-item.is-active{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-1.cell
                          %i{:class => "fas fa-address-card fs40"}
                        .large-11.cell
                          Информационная система
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                  %li.accordion-item{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-1.cell
                          %i{:class => "fas fa-money-check-alt fs40"}
                        .large-11.cell
                          Цифровая экономика
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                  %li.accordion-item{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-1.cell
                          %i{:class => "fas fa-gavel fs40"}
                        .large-11.cell
                          Законодательная база
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
      .zona5
        %section.grid-container
          .block7
            .grid-x.grid-padding-x
              .large-12.cell
                %h2 Основные преимущества
            .grid-x.grid-padding-x
              .advantage.large-12
                .main-content1
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content2
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content3
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content4
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content5
                .card
                  .card-section
                    %i{:class => "fas fa-door-open fs64"}
                  .card-section
                    Вход через госуслуги (ЕСИА)
          .block8
            .grid-x.grid-padding-x
              .large-12
                .button.btn2
                  Демонстрационный сервер
            .grid-x.grid-padding-x
              .large-12
                Попробуйте систему на демонстрационном сервере прямо сейчас!
      /
        .zona6
        %section.grid-container
          .block9
            .grid-x.grid-padding-x
              .large-12
                %h2 Доступно на всех видах современных устройств
            .grid-x.grid-padding-x.align-center
              .large-8
                %img{:src => "img/display.svg"}
            .grid-x.grid-padding-x
              .large-12
                .button.btn2
                  Демонстрационный сервер
      .zona7
        %section.grid-container
          .block10.documents
            .grid-x.grid-padding-x
              .large-12
                %h2 Документация
            .grid-x.align-spaced
              .doc.large-3
                .grid-x
                  .large-3
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-9.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-3
                .grid-x
                  .large-3
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-9.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-3
                .grid-x
                  .large-3
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-9.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
      .zona8
        %section.grid-container
          .block10.documents
            .grid-x
              .large-12
                %h2 Цены
            .grid-x.align-spaced
              .doc.large-3
                .grid-x
                  .large-3
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-9.text
                    Для города с населением до 500 000 жителей
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-3
                .grid-x
                  .large-3
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-9.text
                    Для города с населением до 500 000 жителей
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
      .zona9
        %section.grid-container
          .block10.documents
            .grid-x
              .large-12
                %h2 Система внедрена:
            .grid-x
              .large-12
                .logo
                  %span.is ИС
                  %span.uslugi услуги
                Портал муниципальных услуг города Казани
      .zona10
        %section.grid-container
          .block11.documents
            .grid-x
              .large-12
                %h2 Популярные услуги
            .grid-x
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
            .grid-x
              .large-12
                .button.btn1
                  Все услуги
      .zona11
        %section.grid-container
          .block12.documents
            .grid-x
              .large-12
                %h2 Популярные модули
            .grid-x
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-4
                .bblock1.grid-x
                  .large-2
                    %i{:class => "fas fa-stamp fs48"}
                  .large-10.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
            .grid-x
              .large-12
                .button.btn1
                  Все услуги
      .zona12
        %section.grid-container
          .block13
            .grid-x.align-center
              .large-5
                %h2 Остались вопросы?
            .grid-x.align-center
              .large-5
                Напишите или позвоните нам в любое время и наши специалисты с удовольствием вам помогут!
            .grid-x.align-center
              .large-5
                Email:
                %a{:href => "javsscripts:void(0)"} uslugi@headmade.pro
            .grid-x.align-center
              .large-5
                Телефон:
                %a{:href => "javsscripts:void(0)"} +7(843)202-21-47
            .grid-x.align-center
              .large-5
                .button.btn2
                  Написать
      .zona13
        %footer.grid-container
          .block14
            .grid-x
              .large-12.logo
                %span.is DOC
                %span.uslugi Handler
            .grid-x
              .large-12
                Разработано в соответствии с
                %a{:href => "javsscripts:void(0)"}правилами дизайна Единого портала Госуслуг
    %script{:src => "node_modules/jquery/dist/jquery.js"}
    %script{:src => "node_modules/what-input/dist/what-input.js"}
    %script{:src => "node_modules/foundation-sites/dist/js/foundation.js"}
    %script{:src => "src/js/common.js"}
    /
      scr{:src => "dist/app.js"}