!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title DOC Handler
    %link{:href => "dist/app.css", :rel => "stylesheet"}/
  %body.nhm
    %script{:src => "node_modules/jquery/dist/jquery.js"}
    %script{:src => "node_modules/what-input/dist/what-input.js"}
    .homepage
      %header
        .zona1.py15
          %section.grid-container
            .grid-x.grid-padding-x
              .block1.large-6.cell.logo
                %span.is DOC
                %span.uslugi &nbspHandler
              .block2.large-18.cell.lozung
                В разработке
        .zona2
          .baner
            %img{:src => "img/banner.png"}
            .tank
              %img{:src => "img/tank.gif"}
            .coper
              %img{:src => "img/coper.gif"}
          %section.grid-container
            .table.grid-x.grid-padding-x
              .large-8.medium-8.small-24.colm
                .srtoc.th
                  %b 1
                .stroc.td
                  4
                .stroc.td.last-b
                  7  
              .large-8.medium-8.small-24.colm
                .srtoc.th
                  %b 2
                .stroc.td
                  5
                .stroc.td.last-b
                  8
              .large-8.medium-8.small-24.colm.last-r
                .srtoc.th
                  %b 3
                .stroc.td
                  6
                .stroc.td.last-b
                  9
          /        
            %table
              %tr
                %th 1
                %th 2
                %th 3
              %tr
                %td 4
                %td 5
                %td 6
              %tr
                %td 7
                %td 8
                %td 9
        .zona3
          %section.grid-container
            .grid-x.grid-padding-x
              .block4.large-24.cell
                %ul.menu
                  %li
                    %a{:href => "javascript:void(0)"} Главная
                  %li
                    %a{:href => "javascript:void(0)"} Новости
                  %li
                    %a{:href => "javascript:void(0)"} Портфолио
                  %li
                    %a{:href => "javascript:void(0)"} Контакты
                  /
                    %li
                      %form
                        %input{:type => "text", :disabled => "disabled"}
      .zona4
        %section.grid-container
          .block5
            .grid-x.grid-padding-x
              .large-24.cell
                %h1 Что такое информационная система "Услуги"?
            .grid-x.grid-padding-x
              .large-24.cell
                %ul.accordion{"data-accordion" => ""}
                  %li.accordion-item.is-active{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-2.cell
                          %i{:class => "fas fa-address-card fs40"}
                        .large-22.cell
                          Информационная система
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                  %li.accordion-item{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-2.cell
                          %i{:class => "fas fa-money-check-alt fs40"}
                        .large-22.cell
                          Цифровая экономика
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
                  %li.accordion-item{"data-accordion-item" => ""}
                    %a.accordion-title{:href => "#"}
                      .grid-x.grid-padding-x
                        .large-2.cell
                          %i{:class => "fas fa-gavel fs40"}
                        .large-22.cell
                          Законодательная база
                    .accordion-content{"data-tab-content" => ""}
                      %ul
                        %li
                          %a{:href => "javascript:void(0)"} Унифицированный процесс предоставления услуги
                          %br
                          Возможность повысить скорость и качество предоставления услуг через переиспользование знакомых инструментов а также создания «единого пути» для оказания всех типов услуг.
      .zona5
        %section.grid-container
          .block7
            .grid-x.grid-padding-x
              .large-24.cell
                %h2.title Основные преимущества
            .grid-x.grid-padding-x
              .advantage.large-24.cell
                .main-content1
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content2
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content3
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content4
                  .card
                    .card-section
                      %i{:class => "fas fa-door-open fs64"}
                    .card-section
                      Вход через госуслуги (ЕСИА)
                .main-content5
                .card
                  .card-section
                    %i{:class => "fas fa-door-open fs64"}
                  .card-section
                    Вход через госуслуги (ЕСИА)
          .block8
            .grid-x.grid-padding-x
              .large-24.cell
                .button.btn2
                  Демонстрационный сервер
            .grid-x.grid-padding-x
              .large-24.cell
                Попробуйте систему на демонстрационном сервере прямо сейчас!
      /
        .zona6
        %section.grid-container
          .block9
            .grid-x.grid-padding-x
              .large-24.cell
                %h2.title Доступно на всех видах современных устройств
            .grid-x.grid-padding-x.align-center
              .large-16.cell
                %img{:src => "img/display.svg"}
            .grid-x.grid-padding-x
              .large-24
                .button.btn2
                  Демонстрационный сервер
      .zona7
        %section.grid-container
          .block10.documents
            .grid-x.grid-padding-x
              .large-24.cell
                %h2.title Документация
            .grid-x.align-spaced
              .doc.large-6.cell
                .grid-x
                  .large-6.cell
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-18.cell.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-6.cell
                .grid-x
                  .large-6.cell
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-18.cell.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-6.cell
                .grid-x
                  .large-6.cell
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-18.cell.text
                    Руководство по установке
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
      .zona8
        %section.grid-container
          .block10.documents
            .grid-x
              .large-24.cell
                %h2.title Цены
            .grid-x.align-spaced
              .doc.large-6.cell
                .grid-x
                  .large-6.cell
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-18.cell.text
                    Для города с населением до 500 000 жителей
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
              .doc.large-6.cell
                .grid-x
                  .large-6.cell
                    %i{:class => "fas fa-file-pdf fs64"}
                  .large-18.cell.text
                    Для города с населением до 500 000 жителей
                    %br
                    %a{:href => "javascript:void(0)"} Скачать
      .zona9
        %section.grid-container
          .block10.documents
            .grid-x
              .large-24.cell
                %h2.title Система внедрена:
            .grid-x
              .large-24.cell
                .logo
                  %span.is ИС
                  %span.uslugi услуги
                Портал муниципальных услуг города Казани
      .zona10
        %section.grid-container
          .block11.documents
            .grid-x
              .large-24.cell
                %h2.title Популярные услуги
            .grid-x
              .large-8.cell
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-8.cell
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-8
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
            .grid-x
              .large-24.cell
                .button.st2
                  Все услуги
      .zona11
        %section.grid-container
          .block12.documents
            .grid-x
              .large-24.cell
                %h2.title Популярные модули
            .grid-x
              .large-8.cell
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-8.cell
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
              .large-8.cell
                .bblock1.grid-x
                  .large-4.cell
                    %i{:class => "fas fa-stamp fs48"}
                  .large-20.cell.card-body
                    .title-card
                      Разрешение на вырубку и кронирование деревьев
                    %a{:class => "seebut", :href => "javascript:void(0)"}
                      Посмотреть
            .grid-x
              .large-24.cell
                .button.st2.addimg.angle-right
                  Все услуги
      .zona12
        %section.grid-container
          .block13
            .grid-x.align-center
              .large-10.cell
                %h2.title Остались вопросы?
            .grid-x.align-center
              .large-10.cell
                Напишите или позвоните нам в любое время и наши специалисты с удовольствием вам помогут!
            .grid-x.align-center
              .large-10.cell
                Email:
                %a{:href => "javsscripts:void(0)"} uslugi@headmade.pro
            .grid-x.align-center
              .large-10.cell
                Телефон:
                %a{:href => "javsscripts:void(0)"} +7(843)202-21-47
            .grid-x.align-center
              .large-10.cell
                .button.btn2
                  Написать
      .zona13
        %footer.grid-container
          .block14
            .grid-x
              .large-24.cell.logo
                %span.is DOC
                %span.uslugi Handler
            .grid-x
              .large-24.cell
                Разработано в соответствии с
                %a{:href => "javsscripts:void(0)"}правилами дизайна Единого портала Госуслуг
    %script{:src => "node_modules/jquery/dist/jquery.js"}
    %script{:src => "node_modules/what-input/dist/what-input.js"}
    %script{:src => "node_modules/foundation-sites/dist/js/foundation.js"}
    %script{:src => "src/js/common.js"}
    /
      scr{:src => "dist/app.js"}