div[class*="zona"]{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
header{
  div[class*="zona"]{
    padding: 0 0;
  }
  .zona1{
    padding: 15px 0 !important;
    .block1{
      @include fw();
      @include flex();
      @include flex-align(center, center);
      color:$color1;
    }
    .block2{
      color:$dark-gray;
      text-align: left;
    }
  }
  //.zona2{}
  .zona3{
    background:$color1;
    ul.menu{
      li{
        a{
          color: $white;
          padding: 20px;
          @extend .fs18;
          &:hover{
            @include opacity(0.7);
          }
        }
      }
    }
  }
  /*- menu header -*/
  ul.menu{
    @include  flex-jus(spaced);
  }
}
.logo{
  @extend .fs34;
  @include text-transform(uppercase);
  .is{
    color: $color2;
  }
  .uslugi{
    color: $color1;
  }
}
.lozung{
  @include flex();
  @include flex-align-self(middle);
}
.homepage{
  //.zona4{}
  .zona5{
    background-color: $color3;
    .block7{
      @include grid-row();
      div[class*=main-content]{
        @include  grid-column(1 of 5);
      }
    }
  }
  .zona6{
    .block9{
      img{
        width: 100%;
        height: auto;
      }
      .button{
        margin-top: 20px;
      }
    }
  }
  //.zona7
  .zona8{
    background-color: $color3;
  }
  //.zona9
  .zona10{
    background-color: $color3;
  }
  //.zona11
  .zona12{
    background-color: $color3;
  }
}
/*- title -*/
h1, h2{
  padding: 15px 15px 50px;
  @include fw(300);
}

/*- baner- -home -zona2 -*/
.baner{
  height: 480px;
  width: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*- accordion -home -zona-4 -bl-5 -*/
.accordion{
  .accordion-item{
    .accordion-title{
      background-color: $color1;
      color: $white;
      text-align: left;
      @include text-transform(uppercase);
      @extend .fs18;
      &:hover{
        background-color: $white;
        color: $color1;
      }
    }
    .accordion-content{
      text-align: left;
      ul{
        li{
          list-style: none;
          a{
            position: relative;
            @include fw();
            &::before{
              @extend %fa-icon;
              @extend .fas;
              content: fa-content($fa-var-award);
              position: absolute;
              left: -20px;
              top: 0;
            }
          }
        }
      }
    }
    .cell{
      @include flex-align-self(center);
    }
  }
}

/*- advantage -home zona-5 bl-7-8 -*/
.advantage{
  .card{
    border: none;
    background: transparent;
    .card-section{
      .fas{
        color:$color1;
      }
    }
  }
}

/*- documents -home -zona7 bl-10 -*/
.documents{
  .text{
    text-align: left;
  }
}

/*-card unic-*/
.bblock1{
  @include border-radius(8px);
  padding: 20px;
  .card-body{
    padding: 0 15px;
    .title-card{
      @include fw(700);
      text-align: left;
      @extend .fs18;
    }
    .seebut{
      float: left;
      position: relative;
      &::after{
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-right);
      }
    }
  }
  &:hover{
    background-color: $light-gray;
    cursor: pointer;
  }
}